*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.conteiner{

    width: 1280px;
    margin: 0 auto;
}


.hero {
    background-image: url(/images/background\ image.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
   
}

.hero-wrapper {
    
    text-transform: uppercase;
    padding-top: 25.5px;
    padding-left: 330px;
    padding-right: 330px;
    padding-bottom: 25.5px;
    color: red;
   
    
}

ul.hr li{
    display: inline;
    margin: 0;
    padding-right: 72px ;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px
    
}
a {text-decoration: none;}



.content-title{
    text-transform: uppercase;
    text-align: center;
    margin-top: 49px;
    margin-left: 253px;
    margin-right: 253px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
       
}

.content-subject-1{
    text-align: center;
    margin-top: 38px;
    margin-bottom: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    word-wrap: break-word;

}

.content-subject-2{
    text-align: center left right;
    

    margin-top: 28px;
    margin-bottom: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.button {

    text-align: center;
    
    margin-top: 66px;
    margin-bottom: 167px;
    margin-left: 588px;
    margin-right: 588px;
    
    


}


    .button-subject{

        width: 191px;
        height: 51px;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        background-color: red;
        color:white;
        border-radius: 4px;


}

.rights {

float: right;
margin-top: 40px;
margin-right: 105px;
margin-bottom: 29px;
font-style: normal;
font-weight: bold;
font-size: 16px;





}
